{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-center ">
        <div class="col-12 ">
            {% if tasks %}
                <div class="card bg-light ms-1 me-4 mb-4 mt-0">
                    <div class="card-header">
                        <i class="fa-solid fa-clipboard-list fa-lg me-2"></i>
                        <strong>Tasks</strong>

                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-center">
                                <tr>
                                    <th scope="col">Equipment</th>
                                    <th scope="col">Technician</th>
                                    <th scope="col">Task Title</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Created on</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"></th>
                                    <th scope="col">Delete Task</th>
                                </tr>
                                </thead>
                                <tbody class="text-center">
                                {% for task in  tasks %}
                                    <tr>
                                        <td>
                                            {{ task.equipment }}

                                        </td>
                                        <td>
                                            {{ task.technician }}

                                        </td>
                                        <td>
                                            <a class="link-primary" href="{% url 'update-task' task.id %}">
                                                {{ task.title }}
                                            </a>
                                        </td>
                                        <td>{{ task.description|truncatechars:50 }}</td>
                                        <td>{{ task.created_on }}</td>
                                        <td>{% if task.complete %}
                                            <span class="text-success fw-bold">Completed</span>
                                        {% else %}
                                            <span class="text-danger fw-bold">Uncompleted</span>
                                        {% endif %}</td>
                                        <td>
                                            {% if task.complete %}
                                                <i class="fa-regular fa-circle-check fa-lg fw-bold text-success"></i>
                                            {% else %}
                                                <i class="fa-solid fa-circle-xmark fa-lg fw-bold text-danger"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger me-1"
                                                    href="{% url 'delete-task' task.id %}"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#myModal2{{ task.id }}">
                                                <i class="fa-solid fa-trash-can fa-lg"></i>
                                            </button>

                                            <!-- Modal - Delete Task -->
                                            {% include 'partials/modal-delete-task.html' %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        </p>
                    </div>
                </div>
            {% else %}
                <!-- If no any task in the record -->
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <h5 class="alert alert-primary ms-4 me-4">There is no task in the record </h5>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}