{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="row justify-content-center mt-3">
        <div class="col-8">
            <div class="card bg-light mb-3" style="max-width: 200rem;">
                <div class="card-header">
                    <h5>
                        <i class="fa-solid fa-clipboard-check fa-lg me-2"></i>
                        {{ task.title }}
                    </h5>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-borderless">
                        <tr>
                            <td>
                                <strong>Equipment:</strong>
                            </td>
                            <td>
                                {{ task.equipment }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Description:</strong>
                            </td>
                            <td>
                                {{ task.description }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Status:</strong>
                            </td>
                            <td>
                                {% if task.complete %}
                                    Completed
                                {% else %}
                                    Uncompleted
                                {% endif %}
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong>Created on:</strong>
                            </td>
                            <td>
                                {{ task.created_on }}
                            </td>
                        </tr>
                    </table>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <label class="fw-bold me-2 mb-4" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        {% endfor %}
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary ">Update</button>
                            <a href="{% url 'user-task-list' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}