{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="row justify-content-center mt-3">
        <div class="col-5">
            <div class="card bg-light mb-3" style="max-width: 200rem;">
                <div class="card-header">
                        <i class="fa-regular fa-address-card fa-lg me-2"></i> Update User
                  </div>
                  <div class="card-body">
                      <div>
                        <img src="{{ user.profile.image.url }}" height="100" loading="lazy"/>
                   </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary ">Update</button>
                            <a href="{% url 'profile' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}