{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-3 ">
            <div class="card bg-light mb-3" style="max-width: 400rem;">
                <div class="card-header">
                    <i class="fa-solid fa-address-card fa-lg"></i> Reset Password
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn  btn-primary mt-3 mb-3">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}